......................................................................................................

                            Home Page
............................................................................................................................................................................................................
                            1.Header
                            2.course
                            3.fact
                            4.subscriber
                            5.footer
.............................................................................................................
********************************************************************************************/
/*google font*/


/********************************************************************************
                    Base css Start
*********************************************************************************/
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}  
a{
    text-decoration: none;
    text-transform: capitalize;
}             
a:hover{
    text-decoration: none;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
/********************************************************************************
                    Base css end
*********************************************************************************/
/*******************************************************************************************
                    common css start
********************************************************************************************/
.primary-color{
    color:#56ab2f !important;
}
.bg-primary{
    background:#56ab2f !important;
}
.secondary-color{
    color:#000022 !important;
}
.bg-secondary{
    background:#000022 !important;
}
.btn-primary-bg{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important ;
    color: #fff;
}
.btn-primary-bg:hover{
    background:transparent !important;
    border:1px solid #56ab2f !important;
    color: #000;
}
.btn-secondary-bg{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important ;
    color: #000;
}
.btn-secondary-bg:hover{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important;
    color: #fff;
}
/*******************************************************************************************
                    common css end
********************************************************************************************/
            /*****************************************************************
                                topbar start
            *****************************************************************/                                
.topbar{
    height: 61px;
    width: 100%;
    line-height: 61px;
}
.topbar-left li{
    margin-left: 20px;
}
.topbar-left li:first-child{
    margin-left: 0;
}
.topbar-right li:first-child::after{
    content: "|";
    color:#000 ;
    padding: 0px 10px;
    font-weight: 300;
}
/*****************************************************************
                                topbar end
            *****************************************************************/ 
        /************************************************   
                            Navbar
        ***********************************************/
        .custom-light{
            background-color: rgba(255,255,255, .5);
        }
        .sup-font{
            margin-left: -10px;
            font-size: 10px;
        }
           /************************************************   
                            Navbar end
        ***********************************************/
/*******************************************************************************************
                    Header css start
********************************************************************************************/
.header{
    background-image: url(../image/header/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.p-header{
    padding-bottom: 100px;
}
/************************************************************************************************************
                        Header css end
************************************************************************************************************/
/************************************************************************************************************
                        Course css start
************************************************************************************************************/
/************************************************************************************************************
                        Course css end
************************************************************************************************************/
/************************************************************************************************************
                        Teacher css start
************************************************************************************************************/
/************************************************************************************************************
                        Teacher css end
************************************************************************************************************/
/************************************************************************************************************
                        Facts css start
************************************************************************************************************/
/************************************************************************************************************
                        Facts css end
************************************************************************************************************/
/************************************************************************************************************
                        Recent News css start
************************************************************************************************************/
/************************************************************************************************************
                       Recent News css end
************************************************************************************************************/
/************************************************************************************************************
                        Subscribe-section css start
************************************************************************************************************/
.email{
    padding-right: 120px;
    margin-left: 40px;
}
/************************************************************************************************************
                        Subscribe-section css end
************************************************************************************************************/
/************************************************************************************************************
                        CTA css start
************************************************************************************************************/
/************************************************************************************************************
                        CTA css end
************************************************************************************************************/
/************************************************************************************************************
                        Footer css start
************************************************************************************************************/
.footer{
    background: #1e1d1d !important;
}
.footer{
    background: #1e1d1d !important;
}
.footer-icon li{
    margin-left: 10px;
    height: 40px;
	width: 40px;
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.footer-icon li:first-child{
	margin-left: 0px;
}
.footer-icon li a{
	line-height: 38px;
    padding-left: -10px;
    color: #fff;
}
.footer-icon li a:hover{
	color: #56ab2f;
}
/************************************************************************************************************
                        Footer css end
************************************************************************************************************/